---
title: AVT215 - Typography
layout: default
---

{% include header.html %}
<div id="top-content">
  <div class="page-info">
    <small>Fall 2022 // Tuesday 1:30&ndash;4:10 // AB 1020</small>
    <h1><a href="{{ "/" | relative_url}}" />Typo-<br>graphy</a></h1>
  </div>
  <div class="due-box">
    {% include due-box.html %}
  </div>
  <div class="arrows">
    {% include arrow-pattern.html %}
  </div>
</div>
<main>
  <section>
    <!-- <p class="section-title text-small"><span>Students</span></p> -->
    {% include student-grid.html %}
  </section>
</main>
