<div class="pattern-container">
  <div class="row-odd">
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
  </div>
  <div class="row-even">
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
  </div>
  <div class="row-odd">
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
  </div>
  <div class="row-even">
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
  </div>
  <div class="row-odd">
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
  </div>
  <div class="row-even">
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
  </div>
  <div class="row-odd">
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
  </div>
  <div class="row-even">
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
  </div>
  <div class="row-odd">
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
    <div><i class="fas fa-arrow-down"></i></div>
  </div>
</div>
