<h2 class="section-title">What's Due?</h2>
<p>Not sure what is due next class? Look below for whats due for the upcoming class or you can find more information on the <a href="due/index.html">What's Due</a> page or on Blackboard.</p>
{% assign counter = 0 %}
{% for post in site.categories.due %}
  {% if counter < 1 %}
    <hr>
    <article class="home-due">
    <h5>Tuesday</h5>
      <h3>{% assign seconds = 7 | times: 24 | times: 60 | times: 60 %}{{ post.date | date: "%s" | plus: seconds  | date: "%B %d" }}</h3>
      {{ post.content }}
    </article>
    {% assign counter = counter | plus: 1 %}
  {% endif %}
{% endfor %}
